<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828125426845-j3vjiq21582ob8s7sr3qpm855l3ej027.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828125426845-j3vjiq21582ob8s7sr3qpm855l3ej027</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828125426845-8b7djg5jgrpksp50hlq6fc34vna0o40t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUd4eqKMT4rt1-tANmYvsico1O2Pvo4YM</string>
	<key>GCM_SENDER_ID</key>
	<string>828125426845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scheduler</string>
	<key>PROJECT_ID</key>
	<string>scheduarappbackend</string>
	<key>STORAGE_BUCKET</key>
	<string>scheduarappbackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828125426845:ios:8f45570aa86d4f85ac5074</string>
	<key>DATABASE_URL</key>
	<string>https://scheduarappbackend-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>